//- index.jade
extends layouts/layout.jade


block nav
    li
        a(href="./index.html", class="docs-menu docs-is-active") Overview
    

block content
    
    include ./parts/overview.jade
    include ./parts/grid.jade
    include ./parts/typography.jade
    include ./parts/buttons.jade
    include ./parts/helpers.jade
    include ./parts/tables.jade
    include ./parts/forms.jade
