section.docs-grid#grid
        
        h2.docs-h2 Grid/Columns

        h3.docs-h3 Columns

        .docs-example

            - for (var x = 1; x <= 12; x++)
                .row
                    div(class="xs-#{x} cols")
                        .docs-grid-inner

        h3.docs-h3 Gutter

        .docs-example

            .row
                .xs-6.cols
                    .docs-grid-inner
                .xs-6.cols
                    .docs-grid-inner