section.docs-tables#tables

    h2.docs-h2 Tables

    .docs-example
        
        table
            thead
                th.
                    Title
                th.
                    Title
                th.
                    Title
                th.
                    Title
            tfoot
                th.
                    foot
                th.
                    foot
                th.
                    foot
                th.
                    foot
            tr
                td.
                    table item
                td.
                    table item
                td.
                    table item
                td.
                    table item

        .table
            .thead
                .th.
                    Title
                .th.
                    Title
                .th.
                    Title
                .th.
                    Title
            .tfoot
                .td.
                    foot
                .td.
                    foot
                .td.
                    foot
                .td.
                    foot
            .tr
                .td.
                    table item
                .td.
                    table item
                .td.
                    table item
                .td.
                    table item