@import "../wrkflo";

body {
    background-color: $grey1;
}

.docs-header {
    margin-bottom: gutter();
    padding: gutter(24);

    background-color: $primary;
    .docs-title {
        font-size: 34px;
        font-weight: 700;

        margin: 0 0 0 gutter();
        padding: 0;
        a {
            text-decoration: none;

            color: white;
        }
    }
}

.docs-hr {
    margin-bottom: gutter();

    color: $primary;
}

.docs-h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    margin: gutter() 0;

    text-transform: uppercase;

    border-bottom: solid 6px $secondary;
}
.docs-h3 {
    font-size: 13px;

    margin: gutter() 0;

    text-transform: uppercase;

    color: darken($secondary, 40%);
}
.docs-h4 {
    font-size: 15px;
    font-weight: 300;

    margin: gutter() 0;

    text-transform: lowercase;

    color: darken($secondary, 20%);
}

.docs-container {
    padding-bottom: 40px;
    .docs-sidebar {
        ul {
            margin: 7px 0;
            padding: 0;

            list-style: none;
            li {
                a {
                    display: block;

                    padding: 14px 0;

                    text-decoration: none;

                    color: $primary;
                }
                & + li {
                    border-top: solid 1px $secondary;
                }
            }
        }
    }
}


.docs-grid {
    .row {
        margin-bottom: gutter();
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-inner {
        height: 30px;

        border-radius: 2px;
        background-color: $secondary;
    }
}

.docs-example {
    background-color: white;
    padding: $innerPadding;
    border-radius: 3px;
    border: solid 1px $grey2;
    margin-bottom: $baseFontSize;
    @include clearfix();
}

.docs-bg-dark-grey {
    background-color: $grey7;
}