section.docs-buttons#buttons

    h2.docs-h2 Buttons

    h3.docs-h3 Buttons

    .docs-example
        
        a.button-default.radius-sm.gutter-margin Default
        a.button-success.radius-sm.gutter-margin Success
        a.button-info.radius-sm.gutter-margin Info
        a.button-warning.radius-sm.gutter-margin Warning
        a.button-danger.radius-sm.gutter-margin Danger
        a.button-default.radius-sm.ghost.gutter-margin Default
        a.button-success.radius-sm.ghost.gutter-margin Success
        a.button-info.radius-sm.ghost.gutter-margin Info
        a.button-warning.radius-sm.ghost.gutter-margin Warning
        a.button-danger.radius-sm.ghost.gutter-margin Danger

        .docs-bg-dark-grey.font-size-padding.font-size-margin-top.font-size-margin-bottom
            
            a.button-default.radius-sm.ghost-white.gutter-margin Default
            a.button-success.radius-sm.ghost-white.gutter-margin Success
            a.button-info.radius-sm.ghost-white.gutter-margin Info
            a.button-warning.radius-sm.ghost-white.gutter-margin Warning
            a.button-danger.radius-sm.ghost-white.gutter-margin Danger