section.docs-forms#forms

    h2.docs-h2 Forms

    .docs-example
        
        //- .form-group.inline
        //-     label.xs-3.cols Label
        //-     span.xs-9.cols
        //-         input(type="text", placeholder="Text input")

        //- .form-group.inline
        //-     label.xs-3.cols Label
        //-     span.xs-9.cols
        //-         input(type="text", placeholder="Text input")

        //- .form-group.inline
        //-     label.xs-3.cols Label
        //-     span.xs-9.cols
        //-         input(type="text", placeholder="Text input")

        //- .form-group.stack
        //-     label.xs-3.cols Label
        //-     span.xs-9.cols
        //-         input(type="text", placeholder="Text input")

        //- .form-group.stack
        //-     label.xs-3.cols Label
        //-     span.xs-9.cols
        //-         input(type="text", placeholder="Text input")

        //- .form-group.stack
        //-     label.xs-3.cols Label
        //-     span.xs-9.cols
        //-         input(type="text", placeholder="Text input")
        
        .stack
            .form-group
                label.xs-2.cols Name
                span.xs-6.cols
                    input(type="text", placeholder="Who are you?")

            .form-group
                label.xs-2.cols Email
                span.xs-6.cols
                    input(type="text", placeholder="Whats your address?")

            .form-group
                label.xs-2.cols Subject
                span.xs-6.cols
                    input(type="text", placeholder="What do you want?")

            .form-group
                label.xs-2.cols Message
                span.xs-8.cols
                    textarea(placeholder="Speak, peasant!")
                    button(type="submit").button-default.
                        Send message

            //- .form-group
            //-     label.xs-2.cols Name
            //-     span.xs-4.cols
            //-         input(type="text", placeholder="Name")
            //-     label.xs-2.cols Email
            //-     span.xs-4.cols
            //-         input(type="email", placeholder="Email")