section.docs-helpers#helpers

    h2.docs-h2 Helpers

    h3.docs-h3 Show and hide

    .docs-example
        
        .xs-show.sm-hide
            p Show on XS and hide on SM

        .md-only-show
            p Show MD only