section.docs-typography#typography

    h2.docs-h2 Typography

    h3.docs-h3 Headings

    .docs-example

        h4.docs-h4 Standard headings

        h1 Heading
            small  heading small
        h2 Heading
            small  heading small
        h3 Heading
            small  heading small
        h4 Heading
            small  heading small
        h5 Heading
            small  heading small
        h6 Heading
            small  heading small

        h4.docs-h4 Sub headings

        h1.sub Heading
            small  heading small
        h2.sub Heading
            small  heading small
        h3.sub Heading
            small  heading small
        h4.sub Heading
            small  heading small
        h5.sub Heading
            small  heading small
        h6.sub Heading
            small  heading small

    h3.docs-h3 Paragraphs

    .docs-example
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus numquam illo animi deleniti, inventore tenetur, ea fugit veritatis reprehenderit. Aliquid corrupti sunt, esse, nulla maxime nobis optio amet fugit veritatis.

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iste magnam similique saepe omnis impedit tenetur optio id, repellendus unde!

    h3.docs-h3 Small text
    
    .docs-example
        p
            small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsum ad qui, sapiente totam magnam rerum, tempore porro earum repellat quaerat molestias maxime expedita nostrum esse recusandae natus. Tempora velit nesciunt, doloribus, sit numquam iure. Adipisci hic eum harum corrupti.

    h3.docs-h3 Pre
    
    .docs-example
        pre
            code.language-scss.
                .docs-header {
                    margin-bottom: gutter();
                    padding: gutter(24);
                    background-color: $primary;
                    .docs-title {
                        font-size: 34px;
                        font-weight: 700;
                        margin: 0 0 0 gutter();
                        padding: 0;
                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }

    h3.docs-h3 Lists
    
    .docs-example
        .row
            .xs-12.sm-6.md-3.cols
                h4.docs-h4 Definition list

                dl
                    - for (var i = 0; i < 2; i++)
                        dt Lorem ipsum
                        dd Lorem ipsum dolor

            .xs-12.sm-6.md-3.cols
                h4.docs-h4 Unordered list

                ul
                    li List item
                    li List item
                        ul
                            li List item
                            li List item
                    li List item

            .xs-12.sm-6.md-3.cols
                h4.docs-h4 Ordered list

                ol
                    li List item
                    li List item
                        ul
                            li List item
                            li List item
                    li List item

            .xs-12.sm-6.md-3.cols
                h4.docs-h4 Navigation list

                nav
                    ul
                        li 
                            a(href="#",) List item
                        li 
                            a(href="#",) List item
                                ul
                                    li 
                                        a(href="#",) List item
                                    li 
                                        a(href="#",) List item
                        li 
                            a(href="#",) List item

        .row
            .xs-12.sm-6.md-3.cols
                h4.docs-h4 Navigation dl list

                nav
                    dl
                        - for (var i = 0; i < 2; i++)
                            dt Lorem ipsum
                            dd 
                                a(href="#", target="_blank") Lorem ipsum dolor