//- layout.jade
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title StyleGuide
        meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet", href="assets/css/wrkflo.min.css")
        link(rel="stylesheet", href="assets/css/docs.min.css")
        link(rel="stylesheet", href="assets/css/prism.css")
    body
        header.docs-header
            .container
                .row
                    h1.docs-title
                        a(href="./index.html") Style Guide
        .docs-container
            .container
                .row
                    nav.docs-sidebar.sm-2.cols
                        ul
                            block nav
                            
                    .docs-content.sm-10.cols
                        block content

        script(src="assets/js/prism.js")