/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */

/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */

/* Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */

mark {
	color: #000;
	background: #ff0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */

button,
input,
optgroup,
select,
textarea { /* 1 */
	font: inherit; /* 2 */
	margin: 0;
	color: inherit; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] { /* 2 */
	cursor: pointer;
	-webkit-appearance: button; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type='search'] { /* 1 */
	box-sizing: content-box;
	-webkit-appearance: textfield; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	margin: 0 2px;
	padding: .35em .625em .75em;
	border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */

legend { /* 1 */
	padding: 0;
	border: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.3.0
* Docs at http://davidtheclark.github.io/scut
*/

/* apply a natural box layout model to all elements, but allowing components to change */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: ' ';
}

.clearfix:after {
	clear: both;
}

.container {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 24px;
	padding: 0rem 1.5rem;
}

.container:after {
	display: block;
	clear: both;
	content: ' ';
}

.row {
	min-width: 100%;
	margin-right: -24px;
	margin-right: -1.5rem;
	margin-left: -24px;
	margin-left: -1.5rem;
}

.row:after {
	display: table;
	clear: both;
	content: '';
}

.col,
.cols {
	float: left;
	box-sizing: border-box;
	min-height: 1px;
	padding-right: 24px;
	padding-right: 1.5rem;
	padding-left: 24px;
	padding-left: 1.5rem;
}

.grid-item {
	float: left;
	box-sizing: border-box;
	padding: 24px;
	padding: 1.5rem;
}

body {
	font-family: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	line-height: 24px;
	line-height: 1.5rem;
	color: #333;
	background-color: white;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.25px;
	line-height: .07813rem;
	margin: 0 0 1.25;
	color: #333;
}

h1.sub,
h2.sub,
h3.sub,
h4.sub,
h5.sub,
h6.sub {
	line-height: 1;
	margin: 0;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-size: 80%;
}

h1,
.h1 {
	font-size: 48px;
	font-size: 3rem;
	line-height: 60px;
	line-height: 3.75rem;
}

h2,
.h2 {
	font-size: 40px;
	font-size: 2.5rem;
	line-height: 50px;
	line-height: 3.125rem;
}

h3,
.h3 {
	font-size: 33px;
	font-size: 2.0625rem;
	line-height: 41.25px;
	line-height: 2.57813rem;
}

h4,
.h4 {
	font-size: 28px;
	font-size: 1.75rem;
	line-height: 35px;
	line-height: 2.1875rem;
}

h5,
.h5 {
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: 28.75px;
	line-height: 1.79688rem;
}

h6,
.h6 {
	font-size: 19px;
	font-size: 1.1875rem;
	line-height: 23.75px;
	line-height: 1.48438rem;
}

p,
.p {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	line-height: 24px;
	line-height: 1.5rem;
	max-width: 45em;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	color: #333;
}

code,
.code,
kbd,
.kbd,
pre,
.pre,
samp,
.samp {
	font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
	font-size: 13px;
	font-size: .8125rem;
	line-height: 15.6px;
	line-height: .975rem;
}

a,
.a {
	cursor: pointer;
	color: #f39c12;
}

a:hover,
.a:hover {
	color: #e08e0b;
}

small,
.small {
	font-size: 13px;
	font-size: .8125rem;
	font-weight: 300;
}

strong,
.strong,
b,
.b {
	font-weight: 700;
}

mark,
.mark {
	padding: 3px;
	padding: .1875rem;
	border-radius: 2px;
	background-color: #f39c12;
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #4d4d4d;
}

blockquote,
.blockquote {
	font-size: 16px;
	font-size: 1rem;
	line-height: 24px;
	line-height: 1.5rem;
	margin: 16px 0;
	margin: 1rem 0rem;
	padding: 16px;
	padding: 1rem;
	border-left: 5px solid #34495e;
}

blockquote p:last-child,
blockquote .p:last-child,
blockquote ul:last-child,
blockquote .ul:last-child,
blockquote ol:last-child,
blockquote .ol:last-child,
.blockquote p:last-child,
.blockquote .p:last-child,
.blockquote ul:last-child,
.blockquote .ul:last-child,
.blockquote ol:last-child,
.blockquote .ol:last-child {
	margin-bottom: 0;
}

blockquote footer,
blockquote .footer,
blockquote small,
blockquote .small,
.blockquote footer,
.blockquote .footer,
.blockquote small,
.blockquote .small {
	font-size: 13px;
	font-size: .8125rem;
	line-height: 24px;
	line-height: 1.5rem;
	display: block;
	color: #4d4d4d;
}

blockquote footer:before,
blockquote .footer:before,
blockquote small:before,
blockquote .small:before,
.blockquote footer:before,
.blockquote .footer:before,
.blockquote small:before,
.blockquote .small:before {
	content: '\2014 \00A0';
}

address,
.address {
	font-style: normal;
	line-height: 24px;
	line-height: 1.5rem;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

dl {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}

dl dt {
	font-weight: 700;
}

dl dt:after {
	content: ':';
}

dl dd {
	font-weight: 300;
	margin-left: 32px;
	margin-left: 2rem;
	padding-left: 0;
}

ul {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	margin-left: 32px;
	margin-left: 2rem;
	padding-left: 0;
}

ul li {
	list-style-type: disc;
}

ol {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	margin-left: 32px;
	margin-left: 2rem;
	padding-left: 0;
}

ol li {
	list-style-type: decimal;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-bottom: 0;
}

nav ul,
nav ol,
nav dl {
	margin-left: 0;
}

nav ul li,
nav ol li,
nav dl li {
	list-style-type: none;
}

nav ul dt,
nav ol dt,
nav dl dt {
	font-size: 13px;
	font-size: .8125rem;
	font-weight: 300;
	color: #999;
}

nav ul dt:after,
nav ol dt:after,
nav dl dt:after {
	content: ':';
}

nav ul dd,
nav ol dd,
nav dl dd {
	margin-left: 0;
}

nav ul a,
nav ol a,
nav dl a {
	font-weight: 300;
	display: block;
	text-decoration: none;
}

.button {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	display: inline-block;
	box-sizing: border-box;
	padding: 5.33333px 16px;
	padding: .33333rem 1rem;
	cursor: pointer;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	color: #333;
	border: solid 1px #ccc;
	background-color: white;
}

.button:hover {
	color: #262626;
	border-color: solid 1px #b3b3b3;
	background-color: #e6e6e6;
}

.button.ghost {
	color: white;
	border-color: white;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 white;
}

.button.ghost:hover {
	color: white;
	background-color: white;
}

.button.ghost-white {
	color: white;
	border-color: white;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 white;
}

.button.ghost-white:hover {
	color: white;
	border-color: white;
	background-color: white;
	box-shadow: inset 0 0 0 1px white;
}

.button-default {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	display: inline-block;
	box-sizing: border-box;
	padding: 5.33333px 16px;
	padding: .33333rem 1rem;
	cursor: pointer;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	color: white;
	border: solid 1px #22303d;
	background-color: #34495e;
}

.button-default:hover {
	color: #f2f2f2;
	border-color: solid 1px #10161c;
	background-color: #22303d;
}

.button-default.ghost {
	color: #34495e;
	border-color: #34495e;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 #34495e;
}

.button-default.ghost:hover {
	color: white;
	background-color: #34495e;
}

.button-default.ghost-white {
	color: white;
	border-color: white;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 white;
}

.button-default.ghost-white:hover {
	color: white;
	border-color: #34495e;
	background-color: #34495e;
	box-shadow: inset 0 0 0 1px #34495e;
}

.button-success {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	display: inline-block;
	box-sizing: border-box;
	padding: 5.33333px 16px;
	padding: .33333rem 1rem;
	cursor: pointer;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	color: white;
	border: solid 1px #148f77;
	background-color: #1abc9c;
}

.button-success:hover {
	color: #f2f2f2;
	border-color: solid 1px #0e6252;
	background-color: #148f77;
}

.button-success.ghost {
	color: #1abc9c;
	border-color: #1abc9c;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 #1abc9c;
}

.button-success.ghost:hover {
	color: white;
	background-color: #1abc9c;
}

.button-success.ghost-white {
	color: white;
	border-color: white;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 white;
}

.button-success.ghost-white:hover {
	color: white;
	border-color: #1abc9c;
	background-color: #1abc9c;
	box-shadow: inset 0 0 0 1px #1abc9c;
}

.button-info {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	display: inline-block;
	box-sizing: border-box;
	padding: 5.33333px 16px;
	padding: .33333rem 1rem;
	cursor: pointer;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	color: white;
	border: solid 1px #217dbb;
	background-color: #3498db;
}

.button-info:hover {
	color: #f2f2f2;
	border-color: solid 1px #196090;
	background-color: #217dbb;
}

.button-info.ghost {
	color: #3498db;
	border-color: #3498db;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 #3498db;
}

.button-info.ghost:hover {
	color: white;
	background-color: #3498db;
}

.button-info.ghost-white {
	color: white;
	border-color: white;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 white;
}

.button-info.ghost-white:hover {
	color: white;
	border-color: #3498db;
	background-color: #3498db;
	box-shadow: inset 0 0 0 1px #3498db;
}

.button-warning {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	display: inline-block;
	box-sizing: border-box;
	padding: 5.33333px 16px;
	padding: .33333rem 1rem;
	cursor: pointer;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	color: white;
	border: solid 1px #c87f0a;
	background-color: #f39c12;
}

.button-warning:hover {
	color: #f2f2f2;
	border-color: solid 1px #976008;
	background-color: #c87f0a;
}

.button-warning.ghost {
	color: #f39c12;
	border-color: #f39c12;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 #f39c12;
}

.button-warning.ghost:hover {
	color: white;
	background-color: #f39c12;
}

.button-warning.ghost-white {
	color: white;
	border-color: white;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 white;
}

.button-warning.ghost-white:hover {
	color: white;
	border-color: #f39c12;
	background-color: #f39c12;
	box-shadow: inset 0 0 0 1px #f39c12;
}

.button-danger {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	display: inline-block;
	box-sizing: border-box;
	padding: 5.33333px 16px;
	padding: .33333rem 1rem;
	cursor: pointer;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	color: white;
	border: solid 1px #d62c1a;
	background-color: #e74c3c;
}

.button-danger:hover {
	color: #f2f2f2;
	border-color: solid 1px #a82315;
	background-color: #d62c1a;
}

.button-danger.ghost {
	color: #e74c3c;
	border-color: #e74c3c;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 #e74c3c;
}

.button-danger.ghost:hover {
	color: white;
	background-color: #e74c3c;
}

.button-danger.ghost-white {
	color: white;
	border-color: white;
	background-color: transparent;
	box-shadow: inset 0 0 0 0 white;
}

.button-danger.ghost-white:hover {
	color: white;
	border-color: #e74c3c;
	background-color: #e74c3c;
	box-shadow: inset 0 0 0 1px #e74c3c;
}

.radius {
	border-radius: 4px;
}

.radius-xs {
	border-radius: 1px;
}

.radius-sm {
	border-radius: 2px;
}

.radius-md {
	border-radius: 4px;
}

.radius-lg {
	border-radius: 8px;
}

.radius-xl {
	border-radius: 16px;
}

.xs-show {
	display: none;
}

.sm-show {
	display: none;
}

.md-show {
	display: none;
}

.lg-show {
	display: none;
}

.xl-show {
	display: none;
}

.xs-only-show {
	display: none;
}

.sm-only-show {
	display: none;
}

.md-only-show {
	display: none;
}

.lg-only-show {
	display: none;
}

.xl-only-show {
	display: none;
}

.xs-max-show {
	display: none;
}

.sm-max-show {
	display: none;
}

.md-max-show {
	display: none;
}

.lg-max-show {
	display: none;
}

.gutter-margin-top {
	margin-top: 2.08333px;
	margin-top: .13021rem;
}

.gutter-padding-top {
	padding-top: 2.08333px;
	padding-top: .13021rem;
}

.font-size-margin-top {
	margin-top: 16px;
	margin-top: 1rem;
}

.font-size-padding-top {
	padding-top: 16px;
	padding-top: 1rem;
}

.gutter-margin-right {
	margin-right: 2.08333px;
	margin-right: .13021rem;
}

.gutter-padding-right {
	padding-right: 2.08333px;
	padding-right: .13021rem;
}

.font-size-margin-right {
	margin-right: 16px;
	margin-right: 1rem;
}

.font-size-padding-right {
	padding-right: 16px;
	padding-right: 1rem;
}

.gutter-margin-bottom {
	margin-bottom: 2.08333px;
	margin-bottom: .13021rem;
}

.gutter-padding-bottom {
	padding-bottom: 2.08333px;
	padding-bottom: .13021rem;
}

.font-size-margin-bottom {
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

.font-size-padding-bottom {
	padding-bottom: 16px;
	padding-bottom: 1rem;
}

.gutter-margin-left {
	margin-left: 2.08333px;
	margin-left: .13021rem;
}

.gutter-padding-left {
	padding-left: 2.08333px;
	padding-left: .13021rem;
}

.font-size-margin-left {
	margin-left: 16px;
	margin-left: 1rem;
}

.font-size-padding-left {
	padding-left: 16px;
	padding-left: 1rem;
}

.gutter-margin {
	margin: 2.08333px;
	margin: .13021rem;
}

.gutter-padding {
	padding: 2.08333px;
	padding: .13021rem;
}

.font-size-margin {
	margin: 16px;
	margin: 1rem;
}

.font-size-padding {
	padding: 16px;
	padding: 1rem;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

table {
	min-width: 100%;
	border: solid 2px #ccc;
}

table tr {
	border: solid 2px #ccc;
}

table th,
table td {
	padding: 12px;
	border: solid 2px #ccc;
}

.table {
	min-width: 100%;
	border-collapse: collapse;
}

.table .tr,
.table .thead,
.table .tfoot {
	display: table-row;
	border-collapse: collapse;
	border: solid 2px #ccc;
}

.table .th,
.table .td {
	display: table-cell;
	padding: 12px;
	border-collapse: collapse;
	border: solid 2px #ccc;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea {
	display: block;
	width: 100%;
	margin-bottom: 12px;
	padding: 12px;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	border: 1px solid #b3b3b3;
}

input[type='color']:hover,
input[type='date']:hover,
input[type='datetime']:hover,
input[type='datetime-local']:hover,
input[type='email']:hover,
input[type='month']:hover,
input[type='number']:hover,
input[type='password']:hover,
input[type='search']:hover,
input[type='tel']:hover,
input[type='text']:hover,
input[type='time']:hover,
input[type='url']:hover,
input[type='week']:hover,
input:not([type]):hover,
textarea:hover {
	border-color: gray;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus {
	border-color: #4d4d4d;
	outline: none;
}

textarea {
	height: 168px;
	resize: vertical;
}

.form-group {
	margin-right: -24px;
	margin-left: -24px;
	*zoom: 1;
}

.form-group:before,
.form-group:after {
	display: table;
	content: ' ';
}

.form-group:after {
	clear: both;
}

.form-group.stack label,
.stack .form-group label {
	clear: both;
}

.form-group.stack > div,
.form-group.stack > span,
.stack .form-group > div,
.stack .form-group > span {
	clear: both;
}

.form-group.inline label,
.inline .form-group label {
	float: left;
	clear: none;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: right;
}

.inline .form-group.stack label {
	clear: both;
	padding-top: 0;
	padding-bottom: 0;
	text-align: left;
}

.stack .form-group.inline label {
	float: left;
	clear: none;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: right;
}

.stack .form-group.inline > div,
.stack .form-group.inline > span {
	clear: none;
}

body {
	background-color: #e6e6e6;
}

.docs-header {
	margin-bottom: 2.08333%;
	padding: 1.04167%;
	background-color: #34495e;
}

.docs-header .docs-title {
	font-size: 34px;
	font-weight: 700;
	margin: 0 0 0 2.08333%;
	padding: 0;
}

.docs-header .docs-title a {
	text-decoration: none;
	color: white;
}

.docs-hr {
	margin-bottom: 2.08333%;
	color: #34495e;
}

.docs-h2 {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin: 2.08333% 0;
	text-transform: uppercase;
	border-bottom: solid 6px #cfd9db;
}

.docs-h3 {
	font-size: 13px;
	margin: 2.08333% 0;
	text-transform: uppercase;
	color: #5e7980;
}

.docs-h4 {
	font-size: 15px;
	font-weight: 300;
	margin: 2.08333% 0;
	text-transform: lowercase;
	color: #94aab0;
}

.docs-container {
	padding-bottom: 40px;
}

.docs-container .docs-sidebar ul {
	margin: 7px 0;
	padding: 0;
	list-style: none;
}

.docs-container .docs-sidebar ul li a {
	display: block;
	padding: 14px 0;
	text-decoration: none;
	color: #34495e;
}

.docs-container .docs-sidebar ul li + li {
	border-top: solid 1px #cfd9db;
}

.docs-grid .row {
	margin-bottom: 2.08333%;
}

.docs-grid .row:last-child {
	margin-bottom: 0;
}

.docs-grid-inner {
	height: 30px;
	border-radius: 2px;
	background-color: #cfd9db;
}

.docs-example {
	margin-bottom: 16px;
	padding: 24px;
	border: solid 1px #ccc;
	border-radius: 3px;
	background-color: white;
	*zoom: 1;
}

.docs-example:before,
.docs-example:after {
	display: table;
	content: ' ';
}

.docs-example:after {
	clear: both;
}

.docs-bg-dark-grey {
	background-color: #4d4d4d;
}

@media (min-width: 0) {

.xs-1 {
	width: 8.33333%;
}

.xs-push-1 {
	margin-left: 8.33333%;
}

.xs-pull-1 {
	margin-left: -8.33333%;
}

.xs-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.xs-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.xs-2 {
	width: 16.66667%;
}

.xs-push-2 {
	margin-left: 16.66667%;
}

.xs-pull-2 {
	margin-left: -16.66667%;
}

.xs-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.xs-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.xs-3 {
	width: 25%;
}

.xs-push-3 {
	margin-left: 25%;
}

.xs-pull-3 {
	margin-left: -25%;
}

.xs-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.xs-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.xs-4 {
	width: 33.33333%;
}

.xs-push-4 {
	margin-left: 33.33333%;
}

.xs-pull-4 {
	margin-left: -33.33333%;
}

.xs-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.xs-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.xs-5 {
	width: 41.66667%;
}

.xs-push-5 {
	margin-left: 41.66667%;
}

.xs-pull-5 {
	margin-left: -41.66667%;
}

.xs-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.xs-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.xs-6 {
	width: 50%;
}

.xs-push-6 {
	margin-left: 50%;
}

.xs-pull-6 {
	margin-left: -50%;
}

.xs-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.xs-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.xs-7 {
	width: 58.33333%;
}

.xs-push-7 {
	margin-left: 58.33333%;
}

.xs-pull-7 {
	margin-left: -58.33333%;
}

.xs-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.xs-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.xs-8 {
	width: 66.66667%;
}

.xs-push-8 {
	margin-left: 66.66667%;
}

.xs-pull-8 {
	margin-left: -66.66667%;
}

.xs-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.xs-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.xs-9 {
	width: 75%;
}

.xs-push-9 {
	margin-left: 75%;
}

.xs-pull-9 {
	margin-left: -75%;
}

.xs-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.xs-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.xs-10 {
	width: 83.33333%;
}

.xs-push-10 {
	margin-left: 83.33333%;
}

.xs-pull-10 {
	margin-left: -83.33333%;
}

.xs-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.xs-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.xs-11 {
	width: 91.66667%;
}

.xs-push-11 {
	margin-left: 91.66667%;
}

.xs-pull-11 {
	margin-left: -91.66667%;
}

.xs-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.xs-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.xs-12 {
	width: 100%;
}

.xs-push-12 {
	margin-left: 100%;
}

.xs-pull-12 {
	margin-left: -100%;
}

.xs-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.xs-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.xs-hide {
	display: none;
}

.xs-show {
	display: inherit;
}

.xs-align-left {
	text-align: left;
}

.xs-align-right {
	text-align: right;
}

.xs-align-center {
	text-align: center;
}

}

@media (min-width: 0) and (max-width: 480px) {

.xs-only-1 {
	width: 8.33333%;
}

.xs-only-push-1 {
	margin-left: 8.33333%;
}

.xs-only-pull-1 {
	margin-left: -8.33333%;
}

.xs-only-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.xs-only-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.xs-only-2 {
	width: 16.66667%;
}

.xs-only-push-2 {
	margin-left: 16.66667%;
}

.xs-only-pull-2 {
	margin-left: -16.66667%;
}

.xs-only-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.xs-only-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.xs-only-3 {
	width: 25%;
}

.xs-only-push-3 {
	margin-left: 25%;
}

.xs-only-pull-3 {
	margin-left: -25%;
}

.xs-only-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.xs-only-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.xs-only-4 {
	width: 33.33333%;
}

.xs-only-push-4 {
	margin-left: 33.33333%;
}

.xs-only-pull-4 {
	margin-left: -33.33333%;
}

.xs-only-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.xs-only-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.xs-only-5 {
	width: 41.66667%;
}

.xs-only-push-5 {
	margin-left: 41.66667%;
}

.xs-only-pull-5 {
	margin-left: -41.66667%;
}

.xs-only-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.xs-only-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.xs-only-6 {
	width: 50%;
}

.xs-only-push-6 {
	margin-left: 50%;
}

.xs-only-pull-6 {
	margin-left: -50%;
}

.xs-only-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.xs-only-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.xs-only-7 {
	width: 58.33333%;
}

.xs-only-push-7 {
	margin-left: 58.33333%;
}

.xs-only-pull-7 {
	margin-left: -58.33333%;
}

.xs-only-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.xs-only-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.xs-only-8 {
	width: 66.66667%;
}

.xs-only-push-8 {
	margin-left: 66.66667%;
}

.xs-only-pull-8 {
	margin-left: -66.66667%;
}

.xs-only-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.xs-only-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.xs-only-9 {
	width: 75%;
}

.xs-only-push-9 {
	margin-left: 75%;
}

.xs-only-pull-9 {
	margin-left: -75%;
}

.xs-only-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.xs-only-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.xs-only-10 {
	width: 83.33333%;
}

.xs-only-push-10 {
	margin-left: 83.33333%;
}

.xs-only-pull-10 {
	margin-left: -83.33333%;
}

.xs-only-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.xs-only-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.xs-only-11 {
	width: 91.66667%;
}

.xs-only-push-11 {
	margin-left: 91.66667%;
}

.xs-only-pull-11 {
	margin-left: -91.66667%;
}

.xs-only-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.xs-only-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.xs-only-12 {
	width: 100%;
}

.xs-only-push-12 {
	margin-left: 100%;
}

.xs-only-pull-12 {
	margin-left: -100%;
}

.xs-only-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.xs-only-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-only-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.xs-only-hide {
	display: none;
}

.xs-only-show {
	display: inherit;
}

.xs-only-align-left {
	text-align: left;
}

.xs-only-align-right {
	text-align: right;
}

.xs-only-align-center {
	text-align: center;
}

}

@media (min-width: 480px) {

.sm-1 {
	width: 8.33333%;
}

.sm-push-1 {
	margin-left: 8.33333%;
}

.sm-pull-1 {
	margin-left: -8.33333%;
}

.sm-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.sm-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.sm-2 {
	width: 16.66667%;
}

.sm-push-2 {
	margin-left: 16.66667%;
}

.sm-pull-2 {
	margin-left: -16.66667%;
}

.sm-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.sm-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.sm-3 {
	width: 25%;
}

.sm-push-3 {
	margin-left: 25%;
}

.sm-pull-3 {
	margin-left: -25%;
}

.sm-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.sm-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.sm-4 {
	width: 33.33333%;
}

.sm-push-4 {
	margin-left: 33.33333%;
}

.sm-pull-4 {
	margin-left: -33.33333%;
}

.sm-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.sm-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.sm-5 {
	width: 41.66667%;
}

.sm-push-5 {
	margin-left: 41.66667%;
}

.sm-pull-5 {
	margin-left: -41.66667%;
}

.sm-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.sm-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.sm-6 {
	width: 50%;
}

.sm-push-6 {
	margin-left: 50%;
}

.sm-pull-6 {
	margin-left: -50%;
}

.sm-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.sm-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.sm-7 {
	width: 58.33333%;
}

.sm-push-7 {
	margin-left: 58.33333%;
}

.sm-pull-7 {
	margin-left: -58.33333%;
}

.sm-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.sm-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.sm-8 {
	width: 66.66667%;
}

.sm-push-8 {
	margin-left: 66.66667%;
}

.sm-pull-8 {
	margin-left: -66.66667%;
}

.sm-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.sm-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.sm-9 {
	width: 75%;
}

.sm-push-9 {
	margin-left: 75%;
}

.sm-pull-9 {
	margin-left: -75%;
}

.sm-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.sm-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.sm-10 {
	width: 83.33333%;
}

.sm-push-10 {
	margin-left: 83.33333%;
}

.sm-pull-10 {
	margin-left: -83.33333%;
}

.sm-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.sm-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.sm-11 {
	width: 91.66667%;
}

.sm-push-11 {
	margin-left: 91.66667%;
}

.sm-pull-11 {
	margin-left: -91.66667%;
}

.sm-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.sm-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.sm-12 {
	width: 100%;
}

.sm-push-12 {
	margin-left: 100%;
}

.sm-pull-12 {
	margin-left: -100%;
}

.sm-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.sm-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.sm-hide {
	display: none;
}

.sm-show {
	display: inherit;
}

.sm-align-left {
	text-align: left;
}

.sm-align-right {
	text-align: right;
}

.sm-align-center {
	text-align: center;
}

}

@media (min-width: 480px) and (max-width: 768px) {

.sm-only-1 {
	width: 8.33333%;
}

.sm-only-push-1 {
	margin-left: 8.33333%;
}

.sm-only-pull-1 {
	margin-left: -8.33333%;
}

.sm-only-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.sm-only-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.sm-only-2 {
	width: 16.66667%;
}

.sm-only-push-2 {
	margin-left: 16.66667%;
}

.sm-only-pull-2 {
	margin-left: -16.66667%;
}

.sm-only-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.sm-only-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.sm-only-3 {
	width: 25%;
}

.sm-only-push-3 {
	margin-left: 25%;
}

.sm-only-pull-3 {
	margin-left: -25%;
}

.sm-only-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.sm-only-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.sm-only-4 {
	width: 33.33333%;
}

.sm-only-push-4 {
	margin-left: 33.33333%;
}

.sm-only-pull-4 {
	margin-left: -33.33333%;
}

.sm-only-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.sm-only-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.sm-only-5 {
	width: 41.66667%;
}

.sm-only-push-5 {
	margin-left: 41.66667%;
}

.sm-only-pull-5 {
	margin-left: -41.66667%;
}

.sm-only-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.sm-only-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.sm-only-6 {
	width: 50%;
}

.sm-only-push-6 {
	margin-left: 50%;
}

.sm-only-pull-6 {
	margin-left: -50%;
}

.sm-only-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.sm-only-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.sm-only-7 {
	width: 58.33333%;
}

.sm-only-push-7 {
	margin-left: 58.33333%;
}

.sm-only-pull-7 {
	margin-left: -58.33333%;
}

.sm-only-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.sm-only-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.sm-only-8 {
	width: 66.66667%;
}

.sm-only-push-8 {
	margin-left: 66.66667%;
}

.sm-only-pull-8 {
	margin-left: -66.66667%;
}

.sm-only-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.sm-only-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.sm-only-9 {
	width: 75%;
}

.sm-only-push-9 {
	margin-left: 75%;
}

.sm-only-pull-9 {
	margin-left: -75%;
}

.sm-only-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.sm-only-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.sm-only-10 {
	width: 83.33333%;
}

.sm-only-push-10 {
	margin-left: 83.33333%;
}

.sm-only-pull-10 {
	margin-left: -83.33333%;
}

.sm-only-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.sm-only-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.sm-only-11 {
	width: 91.66667%;
}

.sm-only-push-11 {
	margin-left: 91.66667%;
}

.sm-only-pull-11 {
	margin-left: -91.66667%;
}

.sm-only-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.sm-only-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.sm-only-12 {
	width: 100%;
}

.sm-only-push-12 {
	margin-left: 100%;
}

.sm-only-pull-12 {
	margin-left: -100%;
}

.sm-only-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.sm-only-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-only-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.sm-only-hide {
	display: none;
}

.sm-only-show {
	display: inherit;
}

.sm-only-align-left {
	text-align: left;
}

.sm-only-align-right {
	text-align: right;
}

.sm-only-align-center {
	text-align: center;
}

}

@media (min-width: 768px) {

.md-1 {
	width: 8.33333%;
}

.md-push-1 {
	margin-left: 8.33333%;
}

.md-pull-1 {
	margin-left: -8.33333%;
}

.md-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.md-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.md-2 {
	width: 16.66667%;
}

.md-push-2 {
	margin-left: 16.66667%;
}

.md-pull-2 {
	margin-left: -16.66667%;
}

.md-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.md-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.md-3 {
	width: 25%;
}

.md-push-3 {
	margin-left: 25%;
}

.md-pull-3 {
	margin-left: -25%;
}

.md-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.md-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.md-4 {
	width: 33.33333%;
}

.md-push-4 {
	margin-left: 33.33333%;
}

.md-pull-4 {
	margin-left: -33.33333%;
}

.md-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.md-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.md-5 {
	width: 41.66667%;
}

.md-push-5 {
	margin-left: 41.66667%;
}

.md-pull-5 {
	margin-left: -41.66667%;
}

.md-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.md-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.md-6 {
	width: 50%;
}

.md-push-6 {
	margin-left: 50%;
}

.md-pull-6 {
	margin-left: -50%;
}

.md-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.md-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.md-7 {
	width: 58.33333%;
}

.md-push-7 {
	margin-left: 58.33333%;
}

.md-pull-7 {
	margin-left: -58.33333%;
}

.md-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.md-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.md-8 {
	width: 66.66667%;
}

.md-push-8 {
	margin-left: 66.66667%;
}

.md-pull-8 {
	margin-left: -66.66667%;
}

.md-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.md-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.md-9 {
	width: 75%;
}

.md-push-9 {
	margin-left: 75%;
}

.md-pull-9 {
	margin-left: -75%;
}

.md-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.md-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.md-10 {
	width: 83.33333%;
}

.md-push-10 {
	margin-left: 83.33333%;
}

.md-pull-10 {
	margin-left: -83.33333%;
}

.md-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.md-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.md-11 {
	width: 91.66667%;
}

.md-push-11 {
	margin-left: 91.66667%;
}

.md-pull-11 {
	margin-left: -91.66667%;
}

.md-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.md-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.md-12 {
	width: 100%;
}

.md-push-12 {
	margin-left: 100%;
}

.md-pull-12 {
	margin-left: -100%;
}

.md-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.md-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.md-hide {
	display: none;
}

.md-show {
	display: inherit;
}

.md-align-left {
	text-align: left;
}

.md-align-right {
	text-align: right;
}

.md-align-center {
	text-align: center;
}

}

@media (min-width: 768px) and (max-width: 1024px) {

.md-only-1 {
	width: 8.33333%;
}

.md-only-push-1 {
	margin-left: 8.33333%;
}

.md-only-pull-1 {
	margin-left: -8.33333%;
}

.md-only-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.md-only-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.md-only-2 {
	width: 16.66667%;
}

.md-only-push-2 {
	margin-left: 16.66667%;
}

.md-only-pull-2 {
	margin-left: -16.66667%;
}

.md-only-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.md-only-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.md-only-3 {
	width: 25%;
}

.md-only-push-3 {
	margin-left: 25%;
}

.md-only-pull-3 {
	margin-left: -25%;
}

.md-only-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.md-only-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.md-only-4 {
	width: 33.33333%;
}

.md-only-push-4 {
	margin-left: 33.33333%;
}

.md-only-pull-4 {
	margin-left: -33.33333%;
}

.md-only-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.md-only-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.md-only-5 {
	width: 41.66667%;
}

.md-only-push-5 {
	margin-left: 41.66667%;
}

.md-only-pull-5 {
	margin-left: -41.66667%;
}

.md-only-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.md-only-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.md-only-6 {
	width: 50%;
}

.md-only-push-6 {
	margin-left: 50%;
}

.md-only-pull-6 {
	margin-left: -50%;
}

.md-only-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.md-only-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.md-only-7 {
	width: 58.33333%;
}

.md-only-push-7 {
	margin-left: 58.33333%;
}

.md-only-pull-7 {
	margin-left: -58.33333%;
}

.md-only-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.md-only-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.md-only-8 {
	width: 66.66667%;
}

.md-only-push-8 {
	margin-left: 66.66667%;
}

.md-only-pull-8 {
	margin-left: -66.66667%;
}

.md-only-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.md-only-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.md-only-9 {
	width: 75%;
}

.md-only-push-9 {
	margin-left: 75%;
}

.md-only-pull-9 {
	margin-left: -75%;
}

.md-only-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.md-only-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.md-only-10 {
	width: 83.33333%;
}

.md-only-push-10 {
	margin-left: 83.33333%;
}

.md-only-pull-10 {
	margin-left: -83.33333%;
}

.md-only-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.md-only-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.md-only-11 {
	width: 91.66667%;
}

.md-only-push-11 {
	margin-left: 91.66667%;
}

.md-only-pull-11 {
	margin-left: -91.66667%;
}

.md-only-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.md-only-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.md-only-12 {
	width: 100%;
}

.md-only-push-12 {
	margin-left: 100%;
}

.md-only-pull-12 {
	margin-left: -100%;
}

.md-only-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.md-only-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-only-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.md-only-hide {
	display: none;
}

.md-only-show {
	display: inherit;
}

.md-only-align-left {
	text-align: left;
}

.md-only-align-right {
	text-align: right;
}

.md-only-align-center {
	text-align: center;
}

}

@media (min-width: 1024px) {

.lg-1 {
	width: 8.33333%;
}

.lg-push-1 {
	margin-left: 8.33333%;
}

.lg-pull-1 {
	margin-left: -8.33333%;
}

.lg-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.lg-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.lg-2 {
	width: 16.66667%;
}

.lg-push-2 {
	margin-left: 16.66667%;
}

.lg-pull-2 {
	margin-left: -16.66667%;
}

.lg-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.lg-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.lg-3 {
	width: 25%;
}

.lg-push-3 {
	margin-left: 25%;
}

.lg-pull-3 {
	margin-left: -25%;
}

.lg-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.lg-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.lg-4 {
	width: 33.33333%;
}

.lg-push-4 {
	margin-left: 33.33333%;
}

.lg-pull-4 {
	margin-left: -33.33333%;
}

.lg-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.lg-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.lg-5 {
	width: 41.66667%;
}

.lg-push-5 {
	margin-left: 41.66667%;
}

.lg-pull-5 {
	margin-left: -41.66667%;
}

.lg-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.lg-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.lg-6 {
	width: 50%;
}

.lg-push-6 {
	margin-left: 50%;
}

.lg-pull-6 {
	margin-left: -50%;
}

.lg-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.lg-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.lg-7 {
	width: 58.33333%;
}

.lg-push-7 {
	margin-left: 58.33333%;
}

.lg-pull-7 {
	margin-left: -58.33333%;
}

.lg-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.lg-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.lg-8 {
	width: 66.66667%;
}

.lg-push-8 {
	margin-left: 66.66667%;
}

.lg-pull-8 {
	margin-left: -66.66667%;
}

.lg-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.lg-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.lg-9 {
	width: 75%;
}

.lg-push-9 {
	margin-left: 75%;
}

.lg-pull-9 {
	margin-left: -75%;
}

.lg-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.lg-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.lg-10 {
	width: 83.33333%;
}

.lg-push-10 {
	margin-left: 83.33333%;
}

.lg-pull-10 {
	margin-left: -83.33333%;
}

.lg-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.lg-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.lg-11 {
	width: 91.66667%;
}

.lg-push-11 {
	margin-left: 91.66667%;
}

.lg-pull-11 {
	margin-left: -91.66667%;
}

.lg-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.lg-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.lg-12 {
	width: 100%;
}

.lg-push-12 {
	margin-left: 100%;
}

.lg-pull-12 {
	margin-left: -100%;
}

.lg-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.lg-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.lg-hide {
	display: none;
}

.lg-show {
	display: inherit;
}

.lg-align-left {
	text-align: left;
}

.lg-align-right {
	text-align: right;
}

.lg-align-center {
	text-align: center;
}

}

@media (min-width: 1024px) and (max-width: 1400px) {

.lg-only-1 {
	width: 8.33333%;
}

.lg-only-push-1 {
	margin-left: 8.33333%;
}

.lg-only-pull-1 {
	margin-left: -8.33333%;
}

.lg-only-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.lg-only-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.lg-only-2 {
	width: 16.66667%;
}

.lg-only-push-2 {
	margin-left: 16.66667%;
}

.lg-only-pull-2 {
	margin-left: -16.66667%;
}

.lg-only-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.lg-only-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.lg-only-3 {
	width: 25%;
}

.lg-only-push-3 {
	margin-left: 25%;
}

.lg-only-pull-3 {
	margin-left: -25%;
}

.lg-only-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.lg-only-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.lg-only-4 {
	width: 33.33333%;
}

.lg-only-push-4 {
	margin-left: 33.33333%;
}

.lg-only-pull-4 {
	margin-left: -33.33333%;
}

.lg-only-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.lg-only-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.lg-only-5 {
	width: 41.66667%;
}

.lg-only-push-5 {
	margin-left: 41.66667%;
}

.lg-only-pull-5 {
	margin-left: -41.66667%;
}

.lg-only-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.lg-only-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.lg-only-6 {
	width: 50%;
}

.lg-only-push-6 {
	margin-left: 50%;
}

.lg-only-pull-6 {
	margin-left: -50%;
}

.lg-only-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.lg-only-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.lg-only-7 {
	width: 58.33333%;
}

.lg-only-push-7 {
	margin-left: 58.33333%;
}

.lg-only-pull-7 {
	margin-left: -58.33333%;
}

.lg-only-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.lg-only-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.lg-only-8 {
	width: 66.66667%;
}

.lg-only-push-8 {
	margin-left: 66.66667%;
}

.lg-only-pull-8 {
	margin-left: -66.66667%;
}

.lg-only-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.lg-only-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.lg-only-9 {
	width: 75%;
}

.lg-only-push-9 {
	margin-left: 75%;
}

.lg-only-pull-9 {
	margin-left: -75%;
}

.lg-only-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.lg-only-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.lg-only-10 {
	width: 83.33333%;
}

.lg-only-push-10 {
	margin-left: 83.33333%;
}

.lg-only-pull-10 {
	margin-left: -83.33333%;
}

.lg-only-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.lg-only-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.lg-only-11 {
	width: 91.66667%;
}

.lg-only-push-11 {
	margin-left: 91.66667%;
}

.lg-only-pull-11 {
	margin-left: -91.66667%;
}

.lg-only-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.lg-only-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.lg-only-12 {
	width: 100%;
}

.lg-only-push-12 {
	margin-left: 100%;
}

.lg-only-pull-12 {
	margin-left: -100%;
}

.lg-only-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.lg-only-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-only-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.lg-only-hide {
	display: none;
}

.lg-only-show {
	display: inherit;
}

.lg-only-align-left {
	text-align: left;
}

.lg-only-align-right {
	text-align: right;
}

.lg-only-align-center {
	text-align: center;
}

}

@media (min-width: 1400px) {

.xl-1 {
	width: 8.33333%;
}

.xl-push-1 {
	margin-left: 8.33333%;
}

.xl-pull-1 {
	margin-left: -8.33333%;
}

.xl-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.xl-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.xl-2 {
	width: 16.66667%;
}

.xl-push-2 {
	margin-left: 16.66667%;
}

.xl-pull-2 {
	margin-left: -16.66667%;
}

.xl-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.xl-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.xl-3 {
	width: 25%;
}

.xl-push-3 {
	margin-left: 25%;
}

.xl-pull-3 {
	margin-left: -25%;
}

.xl-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.xl-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.xl-4 {
	width: 33.33333%;
}

.xl-push-4 {
	margin-left: 33.33333%;
}

.xl-pull-4 {
	margin-left: -33.33333%;
}

.xl-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.xl-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.xl-5 {
	width: 41.66667%;
}

.xl-push-5 {
	margin-left: 41.66667%;
}

.xl-pull-5 {
	margin-left: -41.66667%;
}

.xl-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.xl-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.xl-6 {
	width: 50%;
}

.xl-push-6 {
	margin-left: 50%;
}

.xl-pull-6 {
	margin-left: -50%;
}

.xl-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.xl-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.xl-7 {
	width: 58.33333%;
}

.xl-push-7 {
	margin-left: 58.33333%;
}

.xl-pull-7 {
	margin-left: -58.33333%;
}

.xl-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.xl-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.xl-8 {
	width: 66.66667%;
}

.xl-push-8 {
	margin-left: 66.66667%;
}

.xl-pull-8 {
	margin-left: -66.66667%;
}

.xl-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.xl-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.xl-9 {
	width: 75%;
}

.xl-push-9 {
	margin-left: 75%;
}

.xl-pull-9 {
	margin-left: -75%;
}

.xl-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.xl-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.xl-10 {
	width: 83.33333%;
}

.xl-push-10 {
	margin-left: 83.33333%;
}

.xl-pull-10 {
	margin-left: -83.33333%;
}

.xl-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.xl-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.xl-11 {
	width: 91.66667%;
}

.xl-push-11 {
	margin-left: 91.66667%;
}

.xl-pull-11 {
	margin-left: -91.66667%;
}

.xl-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.xl-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.xl-12 {
	width: 100%;
}

.xl-push-12 {
	margin-left: 100%;
}

.xl-pull-12 {
	margin-left: -100%;
}

.xl-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.xl-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.xl-only-1 {
	width: 8.33333%;
}

.xl-only-push-1 {
	margin-left: 8.33333%;
}

.xl-only-pull-1 {
	margin-left: -8.33333%;
}

.xl-only-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.xl-only-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.xl-only-2 {
	width: 16.66667%;
}

.xl-only-push-2 {
	margin-left: 16.66667%;
}

.xl-only-pull-2 {
	margin-left: -16.66667%;
}

.xl-only-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.xl-only-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.xl-only-3 {
	width: 25%;
}

.xl-only-push-3 {
	margin-left: 25%;
}

.xl-only-pull-3 {
	margin-left: -25%;
}

.xl-only-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.xl-only-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.xl-only-4 {
	width: 33.33333%;
}

.xl-only-push-4 {
	margin-left: 33.33333%;
}

.xl-only-pull-4 {
	margin-left: -33.33333%;
}

.xl-only-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.xl-only-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.xl-only-5 {
	width: 41.66667%;
}

.xl-only-push-5 {
	margin-left: 41.66667%;
}

.xl-only-pull-5 {
	margin-left: -41.66667%;
}

.xl-only-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.xl-only-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.xl-only-6 {
	width: 50%;
}

.xl-only-push-6 {
	margin-left: 50%;
}

.xl-only-pull-6 {
	margin-left: -50%;
}

.xl-only-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.xl-only-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.xl-only-7 {
	width: 58.33333%;
}

.xl-only-push-7 {
	margin-left: 58.33333%;
}

.xl-only-pull-7 {
	margin-left: -58.33333%;
}

.xl-only-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.xl-only-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.xl-only-8 {
	width: 66.66667%;
}

.xl-only-push-8 {
	margin-left: 66.66667%;
}

.xl-only-pull-8 {
	margin-left: -66.66667%;
}

.xl-only-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.xl-only-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.xl-only-9 {
	width: 75%;
}

.xl-only-push-9 {
	margin-left: 75%;
}

.xl-only-pull-9 {
	margin-left: -75%;
}

.xl-only-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.xl-only-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.xl-only-10 {
	width: 83.33333%;
}

.xl-only-push-10 {
	margin-left: 83.33333%;
}

.xl-only-pull-10 {
	margin-left: -83.33333%;
}

.xl-only-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.xl-only-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.xl-only-11 {
	width: 91.66667%;
}

.xl-only-push-11 {
	margin-left: 91.66667%;
}

.xl-only-pull-11 {
	margin-left: -91.66667%;
}

.xl-only-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.xl-only-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.xl-only-12 {
	width: 100%;
}

.xl-only-push-12 {
	margin-left: 100%;
}

.xl-only-pull-12 {
	margin-left: -100%;
}

.xl-only-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.xl-only-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.xl-only-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.xl-hide {
	display: none;
}

.xl-show {
	display: inherit;
}

.xl-only-hide {
	display: none;
}

.xl-only-show {
	display: inherit;
}

.xl-align-left {
	text-align: left;
}

.xl-align-right {
	text-align: right;
}

.xl-align-center {
	text-align: center;
}

.xl-only-align-left {
	text-align: left;
}

.xl-only-align-right {
	text-align: right;
}

.xl-only-align-center {
	text-align: center;
}

}

@media (max-width: 1400px) {

.lg-max-1 {
	width: 8.33333%;
}

.lg-max-push-1 {
	margin-left: 8.33333%;
}

.lg-max-pull-1 {
	margin-left: -8.33333%;
}

.lg-max-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.lg-max-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.lg-max-2 {
	width: 16.66667%;
}

.lg-max-push-2 {
	margin-left: 16.66667%;
}

.lg-max-pull-2 {
	margin-left: -16.66667%;
}

.lg-max-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.lg-max-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.lg-max-3 {
	width: 25%;
}

.lg-max-push-3 {
	margin-left: 25%;
}

.lg-max-pull-3 {
	margin-left: -25%;
}

.lg-max-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.lg-max-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.lg-max-4 {
	width: 33.33333%;
}

.lg-max-push-4 {
	margin-left: 33.33333%;
}

.lg-max-pull-4 {
	margin-left: -33.33333%;
}

.lg-max-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.lg-max-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.lg-max-5 {
	width: 41.66667%;
}

.lg-max-push-5 {
	margin-left: 41.66667%;
}

.lg-max-pull-5 {
	margin-left: -41.66667%;
}

.lg-max-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.lg-max-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.lg-max-6 {
	width: 50%;
}

.lg-max-push-6 {
	margin-left: 50%;
}

.lg-max-pull-6 {
	margin-left: -50%;
}

.lg-max-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.lg-max-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.lg-max-7 {
	width: 58.33333%;
}

.lg-max-push-7 {
	margin-left: 58.33333%;
}

.lg-max-pull-7 {
	margin-left: -58.33333%;
}

.lg-max-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.lg-max-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.lg-max-8 {
	width: 66.66667%;
}

.lg-max-push-8 {
	margin-left: 66.66667%;
}

.lg-max-pull-8 {
	margin-left: -66.66667%;
}

.lg-max-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.lg-max-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.lg-max-9 {
	width: 75%;
}

.lg-max-push-9 {
	margin-left: 75%;
}

.lg-max-pull-9 {
	margin-left: -75%;
}

.lg-max-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.lg-max-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.lg-max-10 {
	width: 83.33333%;
}

.lg-max-push-10 {
	margin-left: 83.33333%;
}

.lg-max-pull-10 {
	margin-left: -83.33333%;
}

.lg-max-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.lg-max-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.lg-max-11 {
	width: 91.66667%;
}

.lg-max-push-11 {
	margin-left: 91.66667%;
}

.lg-max-pull-11 {
	margin-left: -91.66667%;
}

.lg-max-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.lg-max-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.lg-max-12 {
	width: 100%;
}

.lg-max-push-12 {
	margin-left: 100%;
}

.lg-max-pull-12 {
	margin-left: -100%;
}

.lg-max-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.lg-max-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.lg-max-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.lg-max-hide {
	display: none;
}

.lg-max-show {
	display: inherit;
}

.lg-max-align-left {
	text-align: left;
}

.lg-max-align-right {
	text-align: right;
}

.lg-max-align-center {
	text-align: center;
}

}

@media (max-width: 1024px) {

.md-max-1 {
	width: 8.33333%;
}

.md-max-push-1 {
	margin-left: 8.33333%;
}

.md-max-pull-1 {
	margin-left: -8.33333%;
}

.md-max-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.md-max-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.md-max-2 {
	width: 16.66667%;
}

.md-max-push-2 {
	margin-left: 16.66667%;
}

.md-max-pull-2 {
	margin-left: -16.66667%;
}

.md-max-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.md-max-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.md-max-3 {
	width: 25%;
}

.md-max-push-3 {
	margin-left: 25%;
}

.md-max-pull-3 {
	margin-left: -25%;
}

.md-max-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.md-max-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.md-max-4 {
	width: 33.33333%;
}

.md-max-push-4 {
	margin-left: 33.33333%;
}

.md-max-pull-4 {
	margin-left: -33.33333%;
}

.md-max-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.md-max-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.md-max-5 {
	width: 41.66667%;
}

.md-max-push-5 {
	margin-left: 41.66667%;
}

.md-max-pull-5 {
	margin-left: -41.66667%;
}

.md-max-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.md-max-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.md-max-6 {
	width: 50%;
}

.md-max-push-6 {
	margin-left: 50%;
}

.md-max-pull-6 {
	margin-left: -50%;
}

.md-max-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.md-max-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.md-max-7 {
	width: 58.33333%;
}

.md-max-push-7 {
	margin-left: 58.33333%;
}

.md-max-pull-7 {
	margin-left: -58.33333%;
}

.md-max-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.md-max-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.md-max-8 {
	width: 66.66667%;
}

.md-max-push-8 {
	margin-left: 66.66667%;
}

.md-max-pull-8 {
	margin-left: -66.66667%;
}

.md-max-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.md-max-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.md-max-9 {
	width: 75%;
}

.md-max-push-9 {
	margin-left: 75%;
}

.md-max-pull-9 {
	margin-left: -75%;
}

.md-max-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.md-max-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.md-max-10 {
	width: 83.33333%;
}

.md-max-push-10 {
	margin-left: 83.33333%;
}

.md-max-pull-10 {
	margin-left: -83.33333%;
}

.md-max-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.md-max-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.md-max-11 {
	width: 91.66667%;
}

.md-max-push-11 {
	margin-left: 91.66667%;
}

.md-max-pull-11 {
	margin-left: -91.66667%;
}

.md-max-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.md-max-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.md-max-12 {
	width: 100%;
}

.md-max-push-12 {
	margin-left: 100%;
}

.md-max-pull-12 {
	margin-left: -100%;
}

.md-max-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.md-max-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.md-max-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.md-max-hide {
	display: none;
}

.md-max-show {
	display: inherit;
}

.md-max-align-left {
	text-align: left;
}

.md-max-align-right {
	text-align: right;
}

.md-max-align-center {
	text-align: center;
}

}

@media (max-width: 768px) {

.sm-max-1 {
	width: 8.33333%;
}

.sm-max-push-1 {
	margin-left: 8.33333%;
}

.sm-max-pull-1 {
	margin-left: -8.33333%;
}

.sm-max-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.sm-max-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.sm-max-2 {
	width: 16.66667%;
}

.sm-max-push-2 {
	margin-left: 16.66667%;
}

.sm-max-pull-2 {
	margin-left: -16.66667%;
}

.sm-max-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.sm-max-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.sm-max-3 {
	width: 25%;
}

.sm-max-push-3 {
	margin-left: 25%;
}

.sm-max-pull-3 {
	margin-left: -25%;
}

.sm-max-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.sm-max-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.sm-max-4 {
	width: 33.33333%;
}

.sm-max-push-4 {
	margin-left: 33.33333%;
}

.sm-max-pull-4 {
	margin-left: -33.33333%;
}

.sm-max-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.sm-max-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.sm-max-5 {
	width: 41.66667%;
}

.sm-max-push-5 {
	margin-left: 41.66667%;
}

.sm-max-pull-5 {
	margin-left: -41.66667%;
}

.sm-max-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.sm-max-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.sm-max-6 {
	width: 50%;
}

.sm-max-push-6 {
	margin-left: 50%;
}

.sm-max-pull-6 {
	margin-left: -50%;
}

.sm-max-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.sm-max-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.sm-max-7 {
	width: 58.33333%;
}

.sm-max-push-7 {
	margin-left: 58.33333%;
}

.sm-max-pull-7 {
	margin-left: -58.33333%;
}

.sm-max-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.sm-max-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.sm-max-8 {
	width: 66.66667%;
}

.sm-max-push-8 {
	margin-left: 66.66667%;
}

.sm-max-pull-8 {
	margin-left: -66.66667%;
}

.sm-max-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.sm-max-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.sm-max-9 {
	width: 75%;
}

.sm-max-push-9 {
	margin-left: 75%;
}

.sm-max-pull-9 {
	margin-left: -75%;
}

.sm-max-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.sm-max-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.sm-max-10 {
	width: 83.33333%;
}

.sm-max-push-10 {
	margin-left: 83.33333%;
}

.sm-max-pull-10 {
	margin-left: -83.33333%;
}

.sm-max-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.sm-max-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.sm-max-11 {
	width: 91.66667%;
}

.sm-max-push-11 {
	margin-left: 91.66667%;
}

.sm-max-pull-11 {
	margin-left: -91.66667%;
}

.sm-max-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.sm-max-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.sm-max-12 {
	width: 100%;
}

.sm-max-push-12 {
	margin-left: 100%;
}

.sm-max-pull-12 {
	margin-left: -100%;
}

.sm-max-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.sm-max-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.sm-max-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

h1,
.h1 {
	font-size: 33px;
	font-size: 2.0625rem;
}

h2,
.h2 {
	font-size: 28px;
	font-size: 1.75rem;
}

h3,
.h3 {
	font-size: 23px;
	font-size: 1.4375rem;
}

h4,
.h4 {
	font-size: 19px;
	font-size: 1.1875rem;
}

h5,
.h5 {
	font-size: 16px;
	font-size: 1rem;
}

h6,
.h6 {
	font-size: 16px;
	font-size: 1rem;
}

.sm-max-hide {
	display: none;
}

.sm-max-show {
	display: inherit;
}

.sm-max-align-left {
	text-align: left;
}

.sm-max-align-right {
	text-align: right;
}

.sm-max-align-center {
	text-align: center;
}

}

@media (max-width: 480px) {

.xs-max-1 {
	width: 8.33333%;
}

.xs-max-push-1 {
	margin-left: 8.33333%;
}

.xs-max-pull-1 {
	margin-left: -8.33333%;
}

.xs-max-grid-1 .grid-item {
	clear: none;
	width: 100%;
}

.xs-max-grid-1 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-1 .grid-item:nth-of-type(1n+1) {
	clear: both;
}

.xs-max-2 {
	width: 16.66667%;
}

.xs-max-push-2 {
	margin-left: 16.66667%;
}

.xs-max-pull-2 {
	margin-left: -16.66667%;
}

.xs-max-grid-2 .grid-item {
	clear: none;
	width: 50%;
}

.xs-max-grid-2 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-2 .grid-item:nth-of-type(2n+1) {
	clear: both;
}

.xs-max-3 {
	width: 25%;
}

.xs-max-push-3 {
	margin-left: 25%;
}

.xs-max-pull-3 {
	margin-left: -25%;
}

.xs-max-grid-3 .grid-item {
	clear: none;
	width: 33.33333%;
}

.xs-max-grid-3 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-3 .grid-item:nth-of-type(3n+1) {
	clear: both;
}

.xs-max-4 {
	width: 33.33333%;
}

.xs-max-push-4 {
	margin-left: 33.33333%;
}

.xs-max-pull-4 {
	margin-left: -33.33333%;
}

.xs-max-grid-4 .grid-item {
	clear: none;
	width: 25%;
}

.xs-max-grid-4 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-4 .grid-item:nth-of-type(4n+1) {
	clear: both;
}

.xs-max-5 {
	width: 41.66667%;
}

.xs-max-push-5 {
	margin-left: 41.66667%;
}

.xs-max-pull-5 {
	margin-left: -41.66667%;
}

.xs-max-grid-5 .grid-item {
	clear: none;
	width: 20%;
}

.xs-max-grid-5 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-5 .grid-item:nth-of-type(5n+1) {
	clear: both;
}

.xs-max-6 {
	width: 50%;
}

.xs-max-push-6 {
	margin-left: 50%;
}

.xs-max-pull-6 {
	margin-left: -50%;
}

.xs-max-grid-6 .grid-item {
	clear: none;
	width: 16.66667%;
}

.xs-max-grid-6 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-6 .grid-item:nth-of-type(6n+1) {
	clear: both;
}

.xs-max-7 {
	width: 58.33333%;
}

.xs-max-push-7 {
	margin-left: 58.33333%;
}

.xs-max-pull-7 {
	margin-left: -58.33333%;
}

.xs-max-grid-7 .grid-item {
	clear: none;
	width: 14.28571%;
}

.xs-max-grid-7 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-7 .grid-item:nth-of-type(7n+1) {
	clear: both;
}

.xs-max-8 {
	width: 66.66667%;
}

.xs-max-push-8 {
	margin-left: 66.66667%;
}

.xs-max-pull-8 {
	margin-left: -66.66667%;
}

.xs-max-grid-8 .grid-item {
	clear: none;
	width: 12.5%;
}

.xs-max-grid-8 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-8 .grid-item:nth-of-type(8n+1) {
	clear: both;
}

.xs-max-9 {
	width: 75%;
}

.xs-max-push-9 {
	margin-left: 75%;
}

.xs-max-pull-9 {
	margin-left: -75%;
}

.xs-max-grid-9 .grid-item {
	clear: none;
	width: 11.11111%;
}

.xs-max-grid-9 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-9 .grid-item:nth-of-type(9n+1) {
	clear: both;
}

.xs-max-10 {
	width: 83.33333%;
}

.xs-max-push-10 {
	margin-left: 83.33333%;
}

.xs-max-pull-10 {
	margin-left: -83.33333%;
}

.xs-max-grid-10 .grid-item {
	clear: none;
	width: 10%;
}

.xs-max-grid-10 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-10 .grid-item:nth-of-type(10n+1) {
	clear: both;
}

.xs-max-11 {
	width: 91.66667%;
}

.xs-max-push-11 {
	margin-left: 91.66667%;
}

.xs-max-pull-11 {
	margin-left: -91.66667%;
}

.xs-max-grid-11 .grid-item {
	clear: none;
	width: 9.09091%;
}

.xs-max-grid-11 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-11 .grid-item:nth-of-type(11n+1) {
	clear: both;
}

.xs-max-12 {
	width: 100%;
}

.xs-max-push-12 {
	margin-left: 100%;
}

.xs-max-pull-12 {
	margin-left: -100%;
}

.xs-max-grid-12 .grid-item {
	clear: none;
	width: 8.33333%;
}

.xs-max-grid-12 .grid-item:nth-of-type(n) {
	clear: none;
}

.xs-max-grid-12 .grid-item:nth-of-type(12n+1) {
	clear: both;
}

.xs-max-hide {
	display: none;
}

.xs-max-show {
	display: inherit;
}

.xs-max-align-left {
	text-align: left;
}

.xs-max-align-right {
	text-align: right;
}

.xs-max-align-center {
	text-align: center;
}

}

