$buttonBg: white;
$buttonColor: $baseFontColor;
$buttonBorder: $grey2;
$buttonFontSize: ms(0);
$buttonFontWeight: 400;
$buttonPadding: $baseFontSize / 3 $baseFontSize;
$buttonDuration: $time;

@mixin button(
    $bg: $buttonBg,
    $fontColor: $buttonColor,
    $border: $buttonBorder,
    $fontSize: $buttonFontSize,
    $weight: $buttonFontWeight,
    $padding: $buttonPadding,
    $duration: $buttonDuration
    ) {
    @include scut-rem-fallback($fontSize);
    @include scut-rem-fallback($padding, padding);

    font-weight: $weight;

    display: inline-block;

    box-sizing: border-box;

    cursor: pointer;
    transition-duration: $duration;

    color: $fontColor;
    border: solid 1px $border;
    background-color: $bg;
    &:hover {
        color: darken($fontColor, $amount);
        border-color: solid 1px darken($border, $amount * 2);
        background-color: darken($bg, $amount * 2);
    }
    &.ghost {
        color: $bg;
        border-color: $bg;
        background-color: transparent;
        box-shadow: inset 0 0 0 0 $bg;
        &:hover {
            color: white;
            background-color: $bg;
        }
    }
    &.ghost-white {
        color: white;
        border-color: white;
        background-color: transparent;
        box-shadow: inset 0 0 0 0 white;
        &:hover {
            color: white;
            border-color: $bg;
            background-color: $bg;
            box-shadow: inset 0 0 0 1px $bg;
        }
    }
}

.button {
    @include button();
    &-default {
        @include button($bg: $colorDefault, $fontColor: white, $border: darken($colorDefault, $amount * 2));
    }
    &-success {
        @include button($bg: $colorSuccess, $fontColor: white, $border: darken($colorSuccess, $amount * 2));
    }
    &-info {
        @include button($bg: $colorInfo, $fontColor: white, $border: darken($colorInfo, $amount * 2));
    }
    &-warning {
        @include button($bg: $colorWarning, $fontColor: white, $border: darken($colorWarning, $amount * 2));
    }
    &-danger {
        @include button($bg: $colorDanger, $fontColor: white, $border: darken($colorDanger, $amount * 2));
    }
}
