$text-inputs-list: 'input[type="color"]',
                   'input[type="date"]',
                   'input[type="datetime"]',
                   'input[type="datetime-local"]',
                   'input[type="email"]',
                   'input[type="month"]',
                   'input[type="number"]',
                   'input[type="password"]',
                   'input[type="search"]',
                   'input[type="tel"]',
                   'input[type="text"]',
                   'input[type="time"]',
                   'input[type="url"]',
                   'input[type="week"]',
                   'input:not([type])',
                   'textarea';

$all-text-inputs:        ($text-inputs-list);

#{$all-text-inputs} {
    display: block;

    width: 100%;
    margin-bottom: $gutter / 2;
    padding: $gutter / 2;

    transition-duration: $time;

    border: 1px solid $grey3;
    &:hover {
        border-color: $grey5;
    }
    &:focus {
        border-color: $grey7;
        outline: none;
    }
}

textarea {
  height: $baseLineHeight * 7;
  resize: vertical;
}

.form-group {
    @include clearfix;

    margin-right: - $gutter;
    margin-left: - $gutter;
    &.stack,.stack & {
        label {
            clear: both;
        }
        > div, > span {
            clear: both;
        }
    }
    &.inline,.inline & {
        label {
            float: left;
            clear: none;

            padding-top: $gutter / 2;
            padding-bottom: $gutter / 2;

            text-align: right;
        }
    }
    .inline & {
        &.stack {
            label {
                clear: both;

                padding-top: 0;
                padding-bottom: 0;

                text-align: left;
            }
        }
    }
    .stack & {
        &.inline {
            label {
                float: left;
                clear: none;

                padding-top: $gutter / 2;
                padding-bottom: $gutter / 2;

                text-align: right;
            }
            > div, > span {
                clear: none;
            }
        }
    }
}
