
@mixin wrkfloColumns($screen, $i) {
    .#{$screen}-#{$i} {
        width: span($i);
    }
    .#{$screen}-push-#{$i} {
        margin-left: span($i);
    }
    .#{$screen}-pull-#{$i} {
        margin-left: - span($i);
    }
    .#{$screen}-grid-#{$i} {
        .grid-item {
            width: 100% / $i;
            clear: none;
            &:nth-of-type(n) {
                clear: none;
            }
            &:nth-of-type(#{$i}n+1) {
                clear: both;
            }
        }
    }
}

// Base grid classes

.container {
    @include container(12);
    @include scut-rem-fallback(0 $gutter, padding);
}

.row {
	min-width: 100%;
	@include scut-clearfix;
	@include scut-rem-fallback(- $gutter, margin-right);
    @include scut-rem-fallback(- $gutter, margin-left);
}

.col,.cols {
    float: left;

    box-sizing: border-box;
    min-height: 1px;
    @include scut-rem-fallback($gutter, padding-right);
    @include scut-rem-fallback($gutter, padding-left);
}

.grid-item {
    float: left;
    box-sizing: border-box;
    @include scut-rem-fallback($gutter, padding);
}

// Grid loop

@each $size, $name in $breakMap {
    @for $i from 1 through 12 {
        @include breakpoint($size) {
            @include wrkfloColumns($name, $i);
        } 
    }
}
