@each $size, $name in $breakMap {
    @include breakpoint($size) {
        .#{$name}-hide {
            display: none;
        }
    }
    .#{$name}-show {
        display: none;
        @include breakpoint($size) {
            display: inherit;
        }
    }
}

$sides: (-top, -right, -bottom, -left, '');

@each $side in $sides {
    .gutter-margin#{$side} {
        @include scut-rem-fallback(gutter(), margin#{$side});
    }
    .gutter-padding#{$side} {
        @include scut-rem-fallback(gutter(), padding#{$side});
    }
    .font-size-margin#{$side} {
        @include scut-rem-fallback($baseFontSize, margin#{$side});
    }
    .font-size-padding#{$side} {
        @include scut-rem-fallback($baseFontSize, padding#{$side});
    }
}

// Text alignment
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

@each $size, $name in $breakMap {
    @include breakpoint($size) {
        .#{$name}-align-left {
            text-align: left;
        }
        .#{$name}-align-right {
            text-align: right;
        }
        .#{$name}-align-center {
            text-align: center;
        }
    }
}