.radius {
    border-radius: $radiusMd;
    &-xs {
		border-radius: $radiusXs;
	}
	&-sm {
		border-radius: $radiusSm;
	}
    &-md {
        border-radius: $radiusMd;
    }
    &-lg {
    	border-radius: $radiusLg;
    }
    &-xl {
    	border-radius: $radiusXl;
    }
}