$tableBorder: $baseBorder;
table {
    min-width: 100%;
    border: $tableBorder;
    tr {
        border: $tableBorder;
    }
    th, td {
        padding: $gutter / 2;
        border: $tableBorder;
    }
}

.table {
    min-width: 100%;

    border-collapse: collapse;
    .tr, .thead, .tfoot {
        display: table-row;

        border-collapse: collapse;

        border: $tableBorder;
    }
    .th,.td {
        display: table-cell;

        padding: $gutter / 2;

        border-collapse: collapse;

        border: $tableBorder;
    }
}
