body {
    @include scut-rem-fallback(ms(0));
    @include scut-rem-fallback($baseLineHeight, line-height);

    font-family: $baseFontStack;
    font-weight: $baseFontWeight;

    background-color: $bodyBackgroundColor;

    color: $baseFontColor;

    text-rendering: optimizeLegibility;
}


// Headings
$headingFontStack: $sansFontStack;
$headingFontWeight: $fontWeightNormal;
$headingFontColor: $baseFontColor;
$headingLineHeight: 1.25;
$headingMarginBottom: $headingLineHeight;

// Heading sub
$headingSubLineHeight: 1;
$headingSubMargin: 0;

// Heading small
$headingSmallFontSize: 80%;

h1,h2,h3,h4,h5,h6 {
    @include scut-rem-fallback($headingLineHeight, line-height);

    font-family: $headingFontStack;
    font-weight: $headingFontWeight;

    margin: 0 0 $headingMarginBottom;

    color: $headingFontColor;
    &.sub {
        line-height: $headingSubLineHeight;

        margin: $headingSubMargin;
    }
    small {
        font-size: $headingSmallFontSize;
    }
}

h1,.h1 {
    @include scut-rem-fallback(ms(6));
    @include scut-rem-fallback(ms(6) * $headingLineHeight, line-height);
    @include breakpoint($smallMax) {
        @include scut-rem-fallback(ms(4));
    }
}
h2,.h2 {
    @include scut-rem-fallback(ms(5));
    @include scut-rem-fallback(ms(5) * $headingLineHeight, line-height);
    @include breakpoint($smallMax) {
        @include scut-rem-fallback(ms(3));
    }
}
h3,.h3 {
    @include scut-rem-fallback(ms(4));
    @include scut-rem-fallback(ms(4) * $headingLineHeight, line-height);
    @include breakpoint($smallMax) {
        @include scut-rem-fallback(ms(2));
    }
}
h4,.h4 {
    @include scut-rem-fallback(ms(3));
    @include scut-rem-fallback(ms(3) * $headingLineHeight, line-height);
    @include breakpoint($smallMax) {
        @include scut-rem-fallback(ms(1));
    }
}
h5,.h5 {
    @include scut-rem-fallback(ms(2));
    @include scut-rem-fallback(ms(2) * $headingLineHeight, line-height);
    @include breakpoint($smallMax) {
        @include scut-rem-fallback(ms(0));
    }
}
h6,.h6 {
    @include scut-rem-fallback(ms(1));
    @include scut-rem-fallback(ms(1) * $headingLineHeight, line-height);
    @include breakpoint($smallMax) {
        @include scut-rem-fallback(ms(0));
    }
}

// Paragraph
$pFontSize: ms(0);
$pLineHeight: $baseLineHeight;
$pFontWeight: $fontWeightLight;
$pMaxWidth: 45em;
$pFontColor: $baseFontColor;

p,.p {
    @include scut-rem-fallback($pFontSize);
    @include scut-rem-fallback($pLineHeight, line-height);
    @include scut-rem-fallback($pLineHeight, margin-bottom);

    font-weight: $baseFontWeight;

    max-width: $pMaxWidth;

    color: $pFontColor;
}

// Pre/Code
$codeFontSize: ms(-1);
$codeFontStack: $monoFontStack;
$codeLineHeight: 1.2;

code,.code,kbd,.kbd,pre,.pre,samp,.samp {
    @include scut-rem-fallback($codeFontSize);
    @include scut-rem-fallback($codeFontSize * $codeLineHeight, line-height);

    font-family: $codeFontStack;
}

// Links
$aColor: $tertiary;
$aColorHover: darken($aColor, $amount);

a,.a {
    cursor: pointer;

    color: $aColor;
    &:hover {
        color: $aColorHover;
    }
}

// Small
$smallFontSize: ms(-1);
$smallFontWeight: $baseFontWeight;

small,.small {
    @include scut-rem-fallback($smallFontSize);

    font-weight: $smallFontWeight;
}

// Strong
$strongFontWeight: $fontWeightBold;

strong,.strong,b,.b {
    font-weight: $strongFontWeight;
}

// Mark
$markPadding: 3px;
$markBorderRadius: 2px;
$markBackgroundColor: $colorWarning;

mark,.mark {
    @include scut-rem-fallback($markPadding, padding);

    border-radius: $markBorderRadius;
    background-color: $markBackgroundColor;
}

// Abbreviations and acronyms
$abbrCursor: help;
$abbrBorder: 1px dotted $grey7;

abbr[title],abbr[data-original-title] {
    cursor: $abbrCursor;

    border-bottom: $abbrBorder;
}

// Blockquotes
$blockquoteFontSize: $baseFontSize;
$blockquoteLineHeight: $baseLineHeight;
$blockquoteMargin: $baseFontSize 0;
$blockquotePadding: $blockquoteFontSize;
$blockquoteBorderWidth: 5px;
$blockquoteBorderStyle: solid;
$blockquoteBorderColor: $primary;
$blockquoteSmallFontSize: ms(-1);
$blockquoteSmallLineHeight: $baseLineHeight;
$blockquoteFontColor: $grey7;

blockquote,.blockquote {
    @include scut-rem-fallback($blockquoteFontSize);
    @include scut-rem-fallback($blockquoteLineHeight, line-height);
    @include scut-rem-fallback($blockquoteMargin, margin);
    @include scut-rem-fallback($blockquotePadding, padding);

    border-left: $blockquoteBorderWidth $blockquoteBorderStyle $blockquoteBorderColor;
    p,.p,ul,.ul,ol,.ol {
        &:last-child {
            margin-bottom: 0;
        }
    }
    footer,.footer,small,.small {
        @include scut-rem-fallback($blockquoteSmallFontSize);
        @include scut-rem-fallback($blockquoteSmallLineHeight, line-height);

        display: block;

        color: $blockquoteFontColor;
        &:before {
            content: "\2014 \00A0"; // em dash, nbsp
        }
    }
}

// Addresses
$addressLineHeight: $baseLineHeight;
$addressFontStyle: normal;
$addressMarginBottom: $baseFontSize;

address,.address {
    @include scut-rem-fallback($addressLineHeight, line-height);
    @include scut-rem-fallback($addressMarginBottom, margin-bottom);

    font-style: $addressFontStyle;
}

// Definition list
$dlMarginBottom: $pLineHeight;
$dtFontWeight: 700;
$ddMarginLeft: $nudge;
$ddFontWeight: 300;

dl {
    @include scut-rem-fallback($dlMarginBottom, margin-bottom);
    dt {
        font-weight: $dtFontWeight;
        &:after {
            content: ":";
        }
    }
    dd {
        @include scut-rem-fallback($ddMarginLeft, margin-left);

        font-weight: $ddFontWeight;

        padding-left: 0;
    }
}

// Unordered list
$ulMarginBottom: $pLineHeight;
$ulMarginLeft: $nudge;
$ulListStyle: disc;

ul {
    @include scut-rem-fallback($ulMarginBottom, margin-bottom);
    @include scut-rem-fallback($ulMarginLeft, margin-left);

    padding-left: 0;
    li {
        list-style-type: $ulListStyle;
    }
}

// Ordered list
$olMarginBottom: $pLineHeight;
$olMarginLeft: $nudge;
$olListStyle: decimal;

ol {
    @include scut-rem-fallback($olMarginBottom, margin-bottom);
    @include scut-rem-fallback($olMarginLeft, margin-left);

    padding-left: 0;
    li {
        list-style-type: $olListStyle;
    }
}

ul,ol {
    ul,ol {
        margin-bottom: 0;
    }
}

// Navigation List
$navListDtSize: ms(-1);
$navListDtColor: $grey4;
$navListDtWeight: 300;
$navListColor: $tertiary;
$navListLinkWeight: $baseFontWeight;
$navListLinkDecoration: none;

nav {
    ul,ol,dl {
        margin-left: 0;
        li {
            list-style-type: none;
        }
        dt {
            @include scut-rem-fallback($navListDtSize);

            font-weight: $navListDtWeight;

            color: $navListDtColor;
            &:after {
                content: ":";
            }
        }
        dd {
            margin-left: 0;
        }
        a {
            font-weight: $navListLinkWeight;

            display: block;

            text-decoration: $navListLinkDecoration;
        }
    }
}
