// $fix is used to prefix the classes of all classed elements.
$fix: null;

// Colors
// Greens
$flatTurquoise: #1ABC9C;
$flatGreenSea: #16A085;
$flatEmerald: #2ECC71;
$flatNephritis: #27AE60;

// Blues
$flatPeterRiver: #3498DB;
$flatBelizeHole: #2980B9;
$flatWetAsphalt: #34495E;
$flatMidnightBlue: #2C3E50;

// Purples
$flatAmethyst: #9B59B6;
$flatWisteria: #8E44AD;

// Yellows
$flatSunflower: #F1C40F;

// Oranges
$flatOrange: #F39C12;
$flatCarrot: #E67E22;
$flatPumpkin: #D35400;

// Reds
$flatAlizarin: #E74C3C;
$flatPomegranate: #C0392B;

// Grays
$flatClouds: #ECF0F1;
$flatSilver: #BDC3C7;
$flatConcrete: #95A5A6;
$flatAsbestos: #7F8C8D;

// Aliases make colors easier to remember.

// Greens
$flatGreen1: $flatTurquoise;
$flatGreen2: $flatGreenSea;
$flatGreen3: $flatEmerald;
$flatGreen4: $flatNephritis;

// Blues
$flatBlue1: $flatPeterRiver;
$flatBlue2: $flatBelizeHole;
$flatBlue3: $flatWetAsphalt;
$flatBlue4: $flatMidnightBlue;

// Purples
$flatPurple1: $flatAmethyst;
$flatPurple2: $flatWisteria;

// Yellows
$flatYellow1: $flatSunflower;

// Oranges
$flatOrange1: $flatOrange;
$flatOrange2: $flatCarrot;
$flatOrange3: $flatPumpkin;

// Reds
$flatRed1: $flatAlizarin;
$flatRed2: $flatPomegranate;

// Grays
$flatGray1: $flatClouds;
$flatGray2: $flatSilver;
$flatGray3: $flatConcrete;
$flatGray4: $flatAsbestos;

// App colors
$primary: $flatBlue3;
$secondary: darken($flatGray1, 10%);
$tertiary: $flatOrange1;

$grey1: darken(white, 10%);
$grey2: darken(white, 20%);
$grey3: darken(white, 30%);
$grey4: darken(white, 40%);
$grey5: darken(white, 50%);
$grey6: darken(white, 60%);
$grey7: darken(white, 70%);
$grey8: darken(white, 80%);
$grey9: darken(white, 90%);

$colorDefault: $primary;
$colorSuccess: $flatGreen1;
$colorInfo: $flatBlue1;
$colorWarning: $flatOrange1;
$colorDanger: $flatRed1;

// Base
$baseFontSize: 16px;
$baseLineHeight: $baseFontSize * 1.5;

// Measurements
$ratio: 1.2;
$amount: 5%;
$time: 0.2s;
$nudge: $baseFontSize * 2;

$gutter: $baseLineHeight;
$innerPadding: $gutter;
$outerMargin: $gutter;

// Media queries
// Media min
$xsmall: 0;
$small: 480px;
$medium: 768px;
$large: 1024px;
$xlarge: 1400px;
// Media only
$xsmallOnly: $xsmall $small;
$smallOnly: $small $medium;
$mediumOnly: $medium $large;
$largeOnly: $large $xlarge;
$xlargeOnly: min-width $xlarge;
// Media max
$xsmallMax: max-width $small;
$smallMax: max-width $medium;
$mediumMax: max-width $large;
$largeMax: max-width $xlarge;

// Breakpoint maps

$breakMap: (
    $xsmall: 'xs', 
    $small: 'sm', 
    $medium: 'md', 
    $large: 'lg', 
    $xlarge: 'xl',
    $xsmallOnly: 'xs-only',
    $smallOnly: 'sm-only',
    $mediumOnly: 'md-only',
    $largeOnly: 'lg-only',
    $xlargeOnly: 'xl-only',
    $xsmallMax: 'xs-max',
    $smallMax: 'sm-max',
    $mediumMax: 'md-max',
    $largeMax: 'lg-max',
);

// Grid variables
$susy: (
    columns: 12,
    gutters: 1,
    math: fluid,
    output: float,
    gutter-position: inside,
    container: 1140px,
);

// Radius amounts
$radiusXs: 1px;
$radiusSm: 2px;
$radiusMd: 4px;
$radiusLg: 8px;
$radiusXl: 16px;

// Borders
$borderThin: 1px;
$borderThick: 2px;
$borderFat: 4px;
$baseBorderStyle: solid;
$baseBorderWidth: $borderThick;
$baseBorderColor: $grey2;
$baseBorder: $baseBorderStyle $baseBorderWidth $baseBorderColor;

// Font stacks
$sansFontStack: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontStack: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$monoFontStack: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

// Font weights
$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightBold: 700;

// Base settings
$baseFontStack: $sansFontStack;
$baseFontColor: $grey8;
$baseFontWeight: $fontWeightLight;

// Body
$bodyBackgroundColor: white;

// Modular scale
$ms-base: $baseFontSize;
$ms-ratio: $minor-third;

$dark: #2d3737;
$yellow: #ffde00;
$blue: #00a3e0;
$teal: #00b4bb;
$purple: #87189d;
$pink: #d41568;
$green: #12b447;
$grey: #607882;

@function shade($color-var) {
    @if ($color-var == 1) {
        @return mix(black, white, 2%);
    } @else if ($color-var == 2) {
        @return mix(black, white, 5%);
    } @else if ($color-var == 3) {
        @return mix(black, white, 10%);
    } @else if ($color-var == 4) {
        @return mix(black, white, 20%);
    } @else if ($color-var == 5) {
        @return mix(black, white, 40%);
    } @else if ($color-var == 6) {
        @return mix(black, white, 60%);
    } @else if ($color-var == 7) {
        @return mix(black, white, 80%);
    } @else {
         @return null;
    }
}

@function color($color-input, $color-var: null) {
    @if ($color-var == 10) {
        @return mix($color-input, white, 10%);
    } @else if ($color-var == 20) {
        @return mix($color-input, white, 20%);
    } @else if ($color-var == 40) {
        @return mix($color-input, white, 40%);
    } @else if ($color-var == 60) {
        @return mix($color-input, white, 60%);
    } @else if ($color-var == 80) {
        @return mix($color-input, white, 80%);
    } @else if ($color-var == 100) {
        @return $color-input
    } @else if ($color-var == 120) {
        @return mix(black, $color-input, 20%);
    } @else if ($color-var == 140) {
        @return mix(black, $color-input, 40%);
    } @else {
         @return $color-input;
    }
}
